<div>
  <form action="/new" method="POST">
    <p><label for="post_subject">Subject:</label>
       <input type="text" name="post_subject" id="post_subject" /></p>
    <p><label for="post_message">Your Message:</label>
       <textarea name="post_message" id="post_message" rows="20"></textarea></p>
    <p><input type="submit" value="Post!" /></p>
  </form>
</div>
